* text=lf

# UNIX+Windows files.
*.conf eol=lf
*.java eol=lf
*.js eol=lf
*.json eol=lf
*.md eol=lf
*.properties eol=lf
*.py eol=lf
*.txt eol=lf
*.xml eol=lf
*.yaml eol=lf
*.yml eol=lf

# UNIX-specific files.
mvnw eol=lf
*.sh eol=lf

# Windows-specific files.
*.bat text eol=crlf
*.cmd text eol=crlf
