# =================================================================
# docker-compose configuration
# =================================================================

# The port for MQTT exposed by its Docker container
EXPOSED_MQTT_PORT=1883

# The port for INTEGRATOR REST endpoint exposed by its Docker container
EXPOSED_DATACOLLECTOR_REST_PORT=8080

# The port for INTEGRATOR Websocket endpoint exposed by its Docker container
EXPOSED_DATACOLLECTOR_WEBSOCKET_PORT=8081
