TF_VAR_SCW_ACCESS_KEY=<your-scaleway-access-key>
TF_VAR_SCW_SECRET_KEY=<your-scaleway-secret-key>
TF_VAR_SCW_PROJECT_ID=<your-scaleway-project-id>
TF_VAR_SCW_ORGANIZATION_ID=<your-scaleway-organization-id>
