export TF_VAR_SCW_ACCESS_KEY=<your-scaleway-access-key>
export TF_VAR_SCW_SECRET_KEY=<your-scaleway-secret-key>
export TF_VAR_SCW_ORGANIZATION_ID=<your-scaleway-organization-id>
export TF_VAR_SCW_PROJECT_ID=<your-scaleway-project-id>
export AWS_ACCESS_KEY_ID=$TF_VAR_SCW_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$TF_VAR_SCW_SECRET_KEY
