# Connection string to the rawDataTable
# Follow documentation on https://www.mongodb.com/docs/manual/reference/connection-string/
MONGODB_CONNECTION_STRING=mongodb://mongodb1:27017

# Name of the replica set where to connect
# To use Change stream feature MongoDB HAS to be configured for replica set
MONGODB_CONNECTION_REPLICA_SET=rs0

# URL where to publish notification 
NOTIFIER_QUEUE_URL=mqtt://mosquittonotifier:1883

# Topic where to publish notification
NOTIFIER_QUEUE_TOPIC=notify

RABBITMQ_CLUSTER_URL=rabbitmq-outbound:5672